

body {
    font-family: "Roboto",
            sans-serif;
            color: #434455;
            background-color: #FFFFFF;
}
            ul,ol {
                list-style-type: none;
                margin: 0;
                padding-left: 0;
            }
            a, button {
                    text-decoration: none;
                    font-style: normal;
                    cursor: pointer;
                }
h1,
h2,
h3,
h4 {
    margin: 0;
}
p {
    margin: 0;
}
img {
   display: block;
}
                
.container {
      max-width: 1158px;
     padding: 0 15px;
     margin: 0 auto
 }

/* #region navigation */
.page-header {
border-bottom: 1px solid #e7e9fc;

}
.header-container {
    display: flex;
justify-content: space-between;
align-items: center;
}
.header-nav {
display: flex;
align-items: center;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-list {
    display: flex;
    text-align: center;
    gap: 40px;
}


.main-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;

}

.header-logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}


.main-logo-part {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.header-contacts {
font-style: normal;
margin-left: auto;
}

.contacts-item {

}

.contacts-link {
    padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* #endregion navigation */
/* #region main */
.section {
    padding: 120px 0;
}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-hero{
    background-color: #2e2f42;
}
.hero-title {
    width: 496px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}
.hero-button {
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.features-list {
    display: flex;
    justify-content: space-between;
    
}
.section-team .section-list-item {
    background-color: #fff;

}
.features-title {
    width: calc((100% - 72px) / 4);
}
.section-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.section-list-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.section-team {
    background-color: #f4f4fd;
}

.page-footer {
    background-color: #2e2f42;
}

.page-footer .main-logo-part {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}
.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
